.navbar{
    border-bottom: 5px solid black;
    font-family:sans-serif;
    font-size: 20px;
    background-color: white; 
    margin: 0px;
}

.nav-item{
    font-size: 20px;
    font-family: sans-serif;
}

.headline1{
    text-align: center;
    font-family: sans-serif;
}

.image1 img{
    width: 70%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px solid black;
    
}

.paragraph1{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    

}

.main{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}